.wpt-admin-form__row {
    margin: 1em 0;
    display: flex;
    align-items: center;
}
.wpt-admin-form__valid-col {
    width: 50px;
    text-align: center;
}
.wpt-admin-form__answer-col {
    flex-grow: 5;
}

.wpt-table tr + tr td {
    border-top: 1px solid #e5e5e5;
}
.wpt-table .col-id {
    width: 50px;
    text-align: right;
}
.wpt-table .col-actions {
    width: 100px;
    text-align: right;
}
.wpt-table .col-actions a {
    display: inline-block;
}
.wpt-table .col-actions a + a {
    margin-left: 5px;
}
.wpt-table .entry:hover td {
    background: #f0f0f0;
}
.wpt-admin-form__answer-remove-btn {
    text-decoration: none;
}
.wpt-table {
    margin-top: 15px;
}
